* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  background-color: #756c80;
  height: 800px;
  width: 800px;
  margin: 150px auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.493);
  font-family: "Bagel Fat One", cursive;
  border-radius: 20px;
}

.titulo {
  padding-top: 60px;
}

h1 {
  margin: 20px;
  color: #28193b;
  font-size: 3em;
}

#input {
  padding: 9px;
  border-radius: 5px;
}

#btn {
  background-color: #cf0808;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
}

.input-email {
  margin: 40px;
}
