* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /*configuração genérica*/
  .titulo {
    color: #f5be04;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
  }
  
  /*aplicação de classe a um elemento específico do HTML*/
  p {
    background-color: royalblue;
    padding: 25px;
    text-align: justify;
    font-size: 18px;
  }
  
  p.texto {
    background-color: sandybrown;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  /*múltiplas classes no elemento*/
  .conteudo {
    background-color: brown;
  }
  
  .conteudo.principal {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }