@charset "utf-8";

.container {
    display: flex;
    align-items: flex-start;
}

.container div {
    border: 2px #07a1ee solid;
    padding: 10px;
}

.html {
    flex: 2.%;
    order: 2;
}

.linux {
    flex: 1.5%;
    order: 3;
}

.css {
    flex: 1.%;
    order: 4;
}

.javascript {
    flex: 1.5%;
    order: 1;
}