@charset "utf-8";
h1{
    border: 1mm solid yellow;
    margin: 25px;
    padding: 50px;
    font-size: 75px
}
body{
    padding: 3cm;
    background-color: rgba(178, 32, 227, 0.539);
}
button{
    padding: 1%;
    background-color: royalblue;
    font-size: 50px;
}
.p1{
    font-size: 2vw;
    font-family: cursive;
}
.p2{
    font-family: cursive;
    font-size: 2vmax;
}